## **Номер 1**

In [2]:
from math import *

In [2]:
a = int(input("Введите а"))
x = int(input("Введите x"))

y = a * x ** 3 + cos(2*x + 1)
y

8.283662185463227

## **Номер 2**

In [3]:
R1 = int(input("Введите S1"))
R2 = int(input("Введите S2"))
if not R1 > R2:
    print('R1 > R2')
    exit()
S1 = pi*R1**2
S2 = pi*R2**2
S3 = S1 - S2
print(f"S1: {S1}, S2: {S2}, S3: {S3}")

R1 > R2
S1: 12.566370614359172, S2: 12.566370614359172, S3: 0.0

## **Номер 3**

In [1]:
a = int(input("Введите а"))
x = int(input("Введите x"))
if x > 4:
    y = a**2
else:
    y = 3*x - 1
y

ValueError: invalid literal for int() with base 10: ''

## **Номер 4**

In [8]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 2.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/fampkin/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in /home/fampkin/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Collecting tzdata>=2022.7
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 KB 3.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.2 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [10]:
data = {
    'count': [],
    'price': []
    }

df = pd.DataFrame(data)

In [19]:
price = 20.4
for i in range(1, 11):
    df.loc[i-1] = [i, price*i]

In [20]:
df

   count  price
0    1.0   20.4
1    2.0   40.8
2    3.0   61.2
3    4.0   81.6
4    5.0  102.0
5    6.0  122.4
6    7.0  142.8
7    8.0  163.2
8    9.0  183.6
9   10.0  204.0

## **Номер 5**

In [21]:
n = int(input())
sum([1/sin(x) for x in range(1, n)])

8.052963962999023

## **Номер 6**

In [25]:
ar = [1,2,3,4,5,6,7,8]
even = []
odd = []
for i in ar:
    if i % 2 == 0:
        even.append(str(i))
    else:
        odd.append(str(i))
print(f'even: {" ".join(even)}, odd: {" ".join(odd)}0')

even: 2 4 6 8, odd: 1 3 5 70

## **Номер 7**

In [26]:
ar = [1,2,3,4,5,6,7,8]
sorted([x for x in ar if not x%2])

[2, 4, 6, 8]

## **Номер 8**

In [27]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9],
          [10,11,12]]

for i in range(len(matrix)-1):
    mi = matrix[i]
    matrix[i] = matrix[-(i+1)]
    matrix[-(i+1)] = mi
print(matrix)

[[10, 11, 12], [4, 5, 6], [7, 8, 9], [1, 2, 3]]

## **Номер 9**

In [28]:
min([len(x) for x in 'Домик Листик'.split()])

5

## **Номер 10**

In [30]:
s1 = 'Домик в лесу'
s2 = 'Коровка на лугу'
f"{s2[0]}{s1[1:]} {s1[0]}{s2[1:]}"

'Комик в лесу Доровка на лугу'

## **Номер 11**

In [39]:
d = {1: [2,3],
     3: [3,4]}
keys = d.keys()
d

{1: [2, 3], 3: [3, 4]}

In [40]:
def check_a(k:list)->bool:
    return sum([1 for x in k if x in keys])==len(k)
    
check_a([1,3])

True

In [41]:
def func_v():
    for key, value in d.items():
        d[key] = sum(value)/len(value)
    return d
func_v()

{1: 2.5, 3: 3.5}

In [7]:
d = {
    1: 'abc',
    2: 'bvd'
}

In [5]:
from itertools import permutations

In [8]:
def func_b():
    for key, value in d.items():
        d[key] = [''.join(x) for x in permutations(value)]
    return d
func_b()

{1: ['abc', 'acb', 'bac', 'bca', 'cab', 'cba'],
 2: ['bvd', 'bdv', 'vbd', 'vdb', 'dbv', 'dvb']}

## **Номер 12**

In [10]:
cort = (1, 2, 3)
a, b, c = cort
print(a,b,c)

1 2 3

In [20]:
spis = [(5,2), (3,4)]
d = dict()
for cort in spis:
    key, value = cort
    d[key] = value
dict(sorted(d.items()))

{3: 4, 5: 2}

# **Номер 13**

In [1]:
a = 'Привет домик как дела'
b = 'Привет грибок как дела'
c = 'Пока жаба и лес'
a = set(a)
b = set(b)
c = set(c)
a & b & c

{' ', 'П', 'а', 'е', 'и', 'к', 'л', 'о'}

In [3]:
list_predmet1 = {"math", "algebra"}
list_predmet2 = {"math"}
(list_predmet1-list_predmet2) | (list_predmet2 - list_predmet1)

{'algebra'}